
@{
    ViewBag.Title = "Dashboard";
    @Styles.Render("~/Content/css")
}


<div class="card-header bg-info-gradient text-white bubble-shadow">
    <h4>Dashboard</h4>
    <p class="mb-2 op-0-7">Welcome</p>
</div>



<div class="page-inner">
    <div class="page-category">

    </div>
</div>